@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
.conten{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style:preserve-3d ;
    animation: movi 2.5s linear infinite;

}

.conten .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style:preserve-3d ;

}

/*/nike y shoes /*/
.conten .box::before{
    content: 'NIKE';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;

}
.conten .box::after{
    content: 'SHOES';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.conten .box:hover::before,
.conten .box:hover::after{
    opacity: 0.04;
}
.conten .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;



}

.conten .box:hover .name{
    top: 40px;
    opacity: 1;
}

.conten .box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform:translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 1;
    z-index: 10;
}

/* .conten .box:hover .buy{
    top: 30px;
    opacity: 1;
}  */

.conten .box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,50px);

}
.conten .box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    min-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style:preserve-3d ;
    transform: translate3d(-50%,-50%,50px)rotate(36deg);

}
.conten .box:hover .product{
    transform: translate3d(-50%,-50%,100px)
    rotate(-15deg);
}

/*/ esto cambia el color de el circulo y buy /*/
.conten .box:nth-child(1) .circle,
.conten .box:nth-child(1) .buy{
    background: #379bf7;
    
}
.conten .box:nth-child(2) .circle,
.conten .box:nth-child(2) .buy{
    background: #01ec6ba9;
    filter: saturate(blue);
}
.conten .box:nth-child(3) .circle,
.conten .box:nth-child(3) .buy{
    background: #b8029fa9;
    
    
    
}

.conten .box img .product:nth-child(1){
    filter: saturate(30%);
    background: red;
}

/* .animacion de el contenedor */

@keyframes movi{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}